hr{
    height: 1px;
    border: none;
    background-color: rgb(221, 219, 219);
}

.components-table-demo-control-bar .ant-form-item {
    margin-right: 16px;
    margin-bottom: 8px;
}

// hide pagination on table and hide show page
.ant-table-pagination{
    display: none;
}

.ant-pagination-options-size-changer.ant-select{
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .pagination { 
        text-align: center;
    }
}