@import '../../_layouts/styles/button';

hr{
    height: 1px;
    border: none;
    background-color: rgb(221, 219, 219);
}

.components-table-demo-control-bar .ant-form-item {
    margin-right: 16px;
    margin-bottom: 8px;
}

.ant-table-pagination {
    display: none;
}

@media only screen and (max-width: 600px) {
    .pagination { 
        text-align: center;
    }
}