.filter {
    min-height: 0px !important;
}
.ant-collapse {
    border: 0px !important;
    .ant-collapse-header {
        cursor: pointer;
        font-size: 19px;
        background: #fff;
        padding: 0px !important;
        border: 0px !important;
    }
    .ant-collapse-item {
        cursor: text;
        background: #fff;
        border: 0px !important;
    }
}